$color-bg: #1e1e2f;
$color-box: #2b2b40;
$color-text: #f5f5f7;
$color-text-done: #888ca0;
$color-button: #5c7cfa;
$color-button-hover: #748ffc;
$color-button-text: #ffffff;
$color-input: #ffffff;
$color-input-text: #1e1e2f;
$color-checkbox-done: #5cfa9e;

$app-font-family: "Indie Flower", cursive;
$breakpoint: 700px;
