@import "../../../../styles/variables";

.todo-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
  margin-top: 2rem;

  &__no-entry {
    color: $color-text;
  }
}
